html, body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.title1 {
  font-family: 'Cairo Play', cursive;
  font-size: 20pt;
}

.title2 {
  font-family: 'Caveat', cursive;
  font-size: 28pt;
}